# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env
.venv/

# Django
db.sqlite3

# Media
media/

# Static collected files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*